p {
	color:52796f; 
}
body {
	font-family: 'Merriweather', serif;
}
.titles{ 
	color:2f3e46;

 }
 .2titles{
 	color:354f52;
 }
 body {
    background-color: rgb(202, 210, 197);
}
#centeredtitle{
	align-content: center;
	text-align: center;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

